<div class = "cover-container d-flex w-100 mx-auto flex-column">
 <header>

 </header>

 <main class = "w-100 h-100">
  <div class = "title">トップページ</div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden w-50" style="width: 80%; margin-top:300px;">
      <div class="my-3 py-1">
        <%= link_to "試合一覧を確認", root_path, class:"display-5"%>
        <%# <p class="lead">作成されたルームを確認可能</p> %>
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-50" style="width: 80%; margin-top:300px;">
      <div class="my-3 p-1">
        <%= link_to "ルームを作成する", new_match_path, class:"display-5"%>
        <%# <p class="lead">※ログインが必要</p> %>
      </div>
    </div>
  </div>
 </div>
 </main>

 

</div>