main {
  background-image: image-url("athletes-1835893_640.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
}

a {
  text-decoration: none;
  display: inline;
  margin: 30px 30px;
}

.btn {
  margin: 0 5px;
}